langchain_community
jq   #Lecture fichiers JSON
langchain-text-splitters   #Pour découper les documents
langchain
sentence-transformers   #LangChain
langchain-huggingface   #Embeddings
langchain-chroma   #Base de données vectorielle retenue pour ce projet
bitsandbytes   #Quantization
accelerate
pandas
bert_score
sentencepiece
frontend
fitz
streamlit
ollama
PyMuPDF